.divBtn {
  display: flex;
  align-items: center;
}
.divBtn button {
  height: 30px;
  border-radius: 10px;
  background-color: rgba(12, 19, 41, 0.87);
  cursor: pointer;
}
.divBtn p {
  margin: 0px;
  font-weight: 100;
  width: 42px;
  cursor: pointer;
}
.divBtn p:hover {
  text-decoration: underline;
}
.divBtn p:nth-child(4) {
  font-weight: 900;
  font-size: larger;
}
