.cardList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: initial;
}
.cards {
  border: 2px solid white;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.cards:hover {
  position: relative;
  top: 5px;
}
.cards img {
  width: 200px;
}
.cards h3 {
  font-size: unset;
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px;
}
.cards p {
  margin: 1px;
  font-size: 15px;
  font-weight: 600;
}
.Alive {
  background-color: #4ac383bf;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Dead {
  background-color: red;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.unknown {
  background-color: gray;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .cards {
    width: 186px;
    height: 171px;
  }
  .cards img {
    width: 100px;
  }
}
